@media screen and (max-width:1200px) {
    // Headerd
    header.header .header-container {width: 992px;}

    // Banner
    section.banner {height: 600px;margin: 0 0 20px 0;}
    section.banner .banner-container {width: 992px;}
    section.banner .banner-container {
        flex-direction: column;
        .banner-container__left {
            order: 1;
            width: 100%;
            height: 35%;
            overflow: hidden;
            justify-content: flex-start;
            padding-top: 15px;
            h1 {
                font-size: 45px;
                br {display: none;}
            }
        }
        .banner-container__right {
            order: 0;
            width: 100%;
            height: 65%;
            overflow: hidden;
            .image {border-radius: 0;}
        }
    }

    // Categories
    section.categories {padding-top: 5px;padding-bottom: 5px;}
    section.categories {overflow-x: hidden;}
    section.categories .categories__container {
        width: 992px;
        overflow: auto;
        padding: 30px 0;
    }

    // products
    section.products .products__container {width: 992px;}
    section.products .products__container::after {left: 4%;}

    // events
    section.events .events__container {width: 992px;}
    section.events .events__container::after {left: 4%;}
}

@media screen and (max-width:992px) {
    // Header
    header.header .header-container {width: 768px;}
    header.header .header-container .header-container__menu .sub-menu ul li:nth-child(-n + 6) {display: none;}
    header.header .header-container .header-container__menu .sub-menu ul li:nth-child(8) {
        display: block;
        padding-left: 10px;
    }
    
    // Banner
    section.banner .banner-container {width: 768px;}

    // Categories
    section.categories .categories__container {width: 768px;}

    // Products
    section.products .products__container {width: 768px;}
    section.products .products__container::after {left: 5%;}

    // Events
    section.events .events__container {width: 768px;}
    section.events .events__container::after {left: 5%;}

    // Overlay-mobile
    div.overlay-menu ul {top: 4%;}
    div.overlay-menu p {top: 5%;}
}

@media screen and (max-width:768px) {
    // Header
    header.header .header-container {
        width: 100%;
        padding: 0 10px;
        .header-container__menu {
            .logo {width: 70%;}
            .sub-menu {width: 30%;}
        }
    }

    // Banner
    section.banner .banner-container {
        width: 100%;
        padding: 0 10px ;
    }

    // Castegories
    section.categories .categories__container {
        width: 100%;
        padding: 30px 10px;
        grid-gap: 20px;
    }
    section.categories .categories__container .item {
        width: 100px;
        height: 100px;
    }

    // Products
    section.products .products__container {width: 100%;padding: 0 10px;}
    section.products .products__container::before {display: none;}
    section.products .products__container::after {left: 10px;}

    // Events
    section.events .events__container {width: 100%;padding: 0 10px;}
    section.events .events__container::after {left: 10px;}
    section.events .events__container::before {display: none;}

    // Overlay-menu
    div.overlay-menu ul {top: 1%;}
    div.overlay-menu p {top: 2%;}
}


@media screen and (max-width:500px) {
    // Banner
    section.banner {height: 470px;}
    section.banner .banner-container {
        .banner-container__left {
            justify-content: flex-start;
            padding-top: 15px;
            h1 {font-size: 24px;margin-bottom: 5px;}
            p {padding-right: 0;font-size: 14px;letter-spacing: 0;}
        }
    }
}

@media screen and (max-width:480px) {
    // Banner
    section.banner .banner-container {
        .banner-container__left {height: 40%;}
        .banner-container__right {height: 60%;}
    }

    // Categories
    section.categories .categories__container .item:nth-child(-n + 10)::before {font-size: 14px;}
}