@import 'responsive/res.scss';
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
// font-family: 'Abhaya Libre', serif;
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:wght@200;300;400;500&display=swap');
// font-family: 'Inter', sans-serif;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {text-decoration: none;}
ul, li {list-style: none;}
*::after,
*::before {box-sizing: border-box;}
html {scroll-behavior: smooth;}
input,
textarea,
select,
button {outline: none;}
/* width */
::-webkit-scrollbar {width: 10px;}
  /* Track */
::-webkit-scrollbar-track {background: #f1f1f1; }
/* Handle */
::-webkit-scrollbar-thumb {background: #888; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #555; }

@mixin flex($display,$alignitem,$justifycontent) {
    display: $display;
    align-items: $alignitem;
    justify-content: $justifycontent;
}
$breakpoints: (
    "phone": "max-width:480px",
    "tablet-portrait": "max-width:768px",
    "tablet-lanscape": "max-width:992px",
    "laptop": "max-width:1200px",
);
@mixin breakpoint($user-value) {
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map {
        @media (#{$my-map}) {@content}
    } @else {
        @error "Breakpoints loi"
    } 
}

/*----------ROOT----------*/ 

// Font-family
$main-font: 'Abhaya Libre', serif;
$second-font: 'Inter', sans-serif;
// Font-family

// Font-size
$big-font_size: 24px;
$normal-font_size: 20px;
$small-font_size: 16px;
$smallest-font_size: 14px;
// Font-size

// Color
$main-color-font: rgb(36, 36, 36);
$active-color-font: #C6322F;
$second-color-font: #A39D9D;
$background-color: #BBA59E;

/*----------ROOT----------*/ 

// Header/Start
.header {
    width: 100%;
    height: 60px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .header-container {
        width: 1200px;
        height: 100%;
        margin: 0 auto;

        &__menu {
            width: 100%;
            height: 100%;
            @include flex(flex,center,center);

            .logo {
                width: 20%;
                height: 100%;
                // background-color: blue;
                @include flex(flex,center,left);
                cursor: pointer;

                span {
                    font-family: $main-font;
                    font-size: 28px;
                    font-weight: 500;
                }
            }

            .sub-menu {
                width: 80%;
                height: 100%;
                // background-color: red;
                @include flex(flex,center,right);

                ul {
                    @include flex(flex,center,center);

                    li {
                        padding: 0 15px;

                        a {
                            font-size: $small-font_size;
                            font-family: $second-font;
                            color: $main-color-font;
                        }
                        a.home {color: $active-color-font;}

                        &:nth-child(6) {
                            position: relative;
                            padding-right: 5px;
                            padding-left: 0px;

                            input {
                                border: none;
                                outline: none;
                                padding: 8px 30px 10px 10px;
                                width: 0px;
                                opacity: 0;
                                visibility: hidden;
                                text-align: left;
                                transition: all .4s;
                                font-family: $second-font;
                            }

                            .active-search-icon {
                                width: 150px;
                                opacity: 1;
                                visibility: visible;
                                transition: all .4s;
                                background-color: #EBDCDC;
                            }

                            .search-icon {
                                position: absolute;
                                top: 8px;
                                right: 15px;
                                cursor: pointer;
                            }
                        }

                        &:nth-child(7) {padding: 0px 0px 0px 5px;}

                        &:last-child {padding: 0;}

                    }


                    li.bars-icon {
                        display: none;
                        padding-top: 3px;
                    }
                }

            }

        }

    }

}
.active-header-scroll {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 20;
}
// Header/End

// Banner/Start
.banner {
    width: 100%;
    height: 600px;   
    margin: 30px 0 20px 0;
    // background-color: violet;

    .banner-container {
        width: 1200px;
        height: 100%;
        margin: auto;
        @include flex(flex,center,center);
        
        &__left {
            width: 50%;
            height: 100%;
            @include flex(flex,center,center);
            flex-direction: column;

            h1 {
                font-weight: 600;
                letter-spacing: 3px;
                font-family: $main-font;
                font-size: 55px;
                span {color: $active-color-font;}
            }
            
            p {
                font-family: $second-font;
                font-size: $small-font_size;
                letter-spacing: 1px;
                color: $second-color-font;
                text-align: justify;
                padding-right: 100px;
            }
        }
        
        &__right {
            width: 50%;
            height: 100%;
            
            .image {
                width: 100%;
                height: 100%;
                padding-top: calc(3 / 4 * 100%);
                background: #f4f4f4 no-repeat center 30%;
                background-size: cover;
                border-radius: 50%;
            } 
        }

    }

}
// Banner/End

// Categories/Start
.categories {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
    background-color: #f3f0ef;
    padding-bottom: 51px;
    
    &__container {
        width: 1200px;
        margin: auto;
        display: grid;
        grid-template: auto / repeat(10, 1fr);
        grid-gap: 33px;

        .item {
            background-color: $background-color;
            position: relative;
            width: 90px;
            height: 90px;
            border-radius: 3px;
            img {
                max-width: 100%;
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &::before {
                content: "Uncategorized";
                bottom: -35%;
                left: 50%;
                position: absolute;
                transform: translate(-50%,-35%);
                font-family: $second-font;
                font-size: $small-font_size;
                color: $main-color-font;
            }
            &:nth-child(2)::before {content: "Biography";}
            &:nth-child(3)::before {content: "Children's";}
            &:nth-child(4)::before {content: "Mystery";}
            &:nth-child(5)::before {content: "Drama";}
            &:nth-child(6)::before {content: "History";}
            &:nth-child(7)::before {content: "Family";}
            &:nth-child(8)::before {content: "Cooking";}
            &:nth-child(9)::before {content: "Fiction";}
            &:nth-child(10)::before {content: "Politics";}
        }
    }

}
// Categories/End

// Product-new/Start 
.products {
    width: 100%;
    height: 437px;
    margin-bottom: 40px;
    margin-top: 150px;

    &__container {
        width: 1200px;
        height: 100%;
        margin: auto;
        position: relative;

        a {color: $main-color-font;}

        .card {
            width: 100%;
            height: 100%;

            .img-item {
                width: 100%;
                height: 324px;
                img {width: 100%;height: 100%;object-fit: cover;}
            }
            .title-item {
                width: 100%;
                height: 113px;
                @include flex(flex,center,flex-start);
                flex-direction: column;

                .name {
                    font-size: $big-font_size;
                    font-family: $main-font;
                    font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    @include breakpoint(phone) {font-size: $normal-font_size;}
                }

                .price,
                .author
                {
                    font-size: $small-font_size;
                    font-family: $second-font;
                    color: $second-color-font;
                    @include breakpoint(phone) {font-size: $smallest-font_size;}
                }

                .name,.price,.author {padding-top: 5px;}

            }

        }

        .owl-nav {

            button.owl-prev,
            button.owl-next {
                width: 30px;
                height: 30px;
                background-color: $background-color;
                font-family: $second-font;
                span {
                    font-size: $big-font_size;
                    color: #fff;
                }
            }

            button.owl-prev {
                position: absolute;
                top: 35%;
                left: 0;
            }

            button.owl-next {
                position: absolute;
                top: 35%;
                right: 0;
            }

        }

        &::before,
        &::after {
            position: absolute;
            color: $main-color-font;
            font-family: $main-font;
            font-weight: 600;
        }
        &::before {
            content: "";
            top: -7%;
            left: 0;
            width: 28px;
            height: 2px;
            display: inline-block;
            background-color: $main-color-font;
        }
        &::after {
            content: "New book from Vintage";
            left: 3%;
            top: -43px;
            display: inline-block;
            color: $main-color-font;
            font-size: $big-font_size;
        }

    }
}
.products-new {
    .products__container::before {height: 2.5px;}
}
.products-bestselling {
    margin-top: 80px;
    .products__container {
        &::after {content: "Bestselling from Vintage";}
        &::before {height: 2px;}
    }
}
.products-sale {
    margin-top: 80px;
    .products__container {
        &::after {content: "Sale from Vintage";} 
        &::before {height: 2px;} 
    }
}
// Product-new/End
                                                        
// Events/Start
.overlay-events {
    background-color: #f3f0ef;
    padding-top: 30px;
    padding-bottom: 50px;
}
.events {
    width: 100%;
    margin-top: 80px;
    &__container {
        width: 1200px;
        height: 100%;
        margin: auto;
        position: relative;
        
        .card-events {
            width: 100%;
            height: 100%;

            .img-item {
                width: 100%;
                height: 450px;
                img {width: 100%;height: 100%;object-fit: cover;}
            }

            .content-item {
                width: 100%;
                height: 160px;
                @include flex(flex,left,flex-start);
                flex-direction: column;
                
                h2 {
                    font-size: $big-font_size;
                    font-family: $main-font;
                    color: $main-color-font;
                    font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 100%;
                    height: 33.333%;
                    display: inline-block;
                    @include breakpoint(phone) {font-size: $normal-font_size;height: 23.333%;}
                }

                p {
                    font-size: $small-font_size;
                    font-family: $second-font;
                    color: $second-color-font;
                    text-align: justify;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 100%;
                    height: 55.333%;
                    display: inline-block;
                    @include breakpoint(phone) {font-size: $smallest-font_size;overflow-y: auto;
                    height: 65.333%;}
                }

                button {
                    border: none;
                    outline: none;
                    font-size: $small-font_size;
                    color: $main-color-font;
                    background-color: transparent;
                    cursor: pointer;
                    width: 100%;
                    height: 13.334%;
                    display: inline-block;
                    text-align: left;
                    @include breakpoint(phone) {padding-top: 5px;}
                }

            }

        }

        .owl-nav {

            button.owl-prev,
            button.owl-next {
                width: 30px;
                height: 30px;
                background-color: $background-color;
                font-family: $second-font;
                span {
                    font-size: $big-font_size;
                    color: #fff;
                }
            }

            button.owl-prev {
                position: absolute;
                top: 35%;
                left: 0;
            }

            button.owl-next {
                position: absolute;
                top: 35%;
                right: 0;
            }

        }

        &::before,
        &::after {
            position: absolute;
            color: $main-color-font;
            font-family: $main-font;
            font-weight: 600;
        }
        &::before {
            content: "";
            top: -7%;
            left: 0;
            width: 28px;
            height: 2px;
            display: inline-block;
            background-color: $main-color-font;
        }
        &::after {
            content: "Events";
            left: 3%;
            top: -55px;
            display: inline-block;
            color: $main-color-font;
            font-size: $big-font_size;
        }

    }
}
// Events/End

// SignUpMail/Start
.mail {
    width: 100%;
    margin-bottom: 100px;
    &__container {
        width: 1200px;
        // background-color: red;
        margin: auto;

        .top {
            width: 100%;
            height: 30%;
            // background-color: violet;
            text-align: center;
            padding-top: 50px;
            h2 {
                font-family: $main-color-font;
                color: $main-color-font;
                font-size: $big-font_size;
                font-weight: 600;
            }
        }

        .bottom {
            width: 100%;
            text-align: center;
            padding-top: 20px;

            input {
                border: none;
                outline: none;
                width: 30%;
                padding: 8px 12px;
                font-family: $main-font;
                font-size: $normal-font_size;
                border: 2px solid $second-color-font;
                color: $main-color-font;
                border-radius: 3px;
                &::placeholder {
                    font-family: $main-font;
                    color: $second-color-font;
                    font-size: $normal-font_size;
                }
            }

            button {
                border: none;
                outline: none;
                padding: 8px 12px;
                background-color: #BBA59E;
                color: #fff;
                font-size: $smallest-font_size;
                font-family: $second-font;
                margin-left: 10px;
                border-radius: 3px;
                border: 2px solid $background-color;
                cursor: pointer;
                text-transform: uppercase;
            }

        }

    }
}
// SignUpMail/End

// Overlay-menu/Start
.overlay-menu {
    width: 100%;
    height: 1060px;
    background-color: #000;
    opacity: .8;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    
    ul {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 6%;
        left: 5%; 

        li {
            padding: 10px 0;

            a {
                color: white;
                font-size: 26px;
                font-family: $main-font;
            }

            &:nth-child(5) {
                i {color: $background-color;}
                input {
                    border: none;
                    outline: none;
                    padding: 8px 10px 8px 5px;
                    background-color: #000;
                    color: white;
                    font-size: $normal-font_size;
                }
                &:hover i {
                    color: white;
                }
            }

        }

    }
    p {
        color: $background-color;
        font-size: 24px;
        position: absolute;
        right: 5%;
        top: 7%;
        &:hover {color: white;}
    }

}
.active-overlay {
    opacity: .9;
    visibility: visible;
    z-index: 30;
}
// Overlay-menu/End