@import 'responsive/res.scss';
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
// font-family: 'Abhaya Libre', serif;
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:wght@200;300;400;500&display=swap');
// font-family: 'Inter', sans-serif;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {text-decoration: none;}
ul, li {list-style: none;}
*::after,
*::before {box-sizing: border-box;}
html {scroll-behavior: smooth;}
input,
textarea,
select,
button {outline: none;}
/* width */
::-webkit-scrollbar {width: 10px;}
  /* Track */
::-webkit-scrollbar-track {background: #f1f1f1; }
/* Handle */
::-webkit-scrollbar-thumb {background: #888; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #555; }
@mixin flex($display,$alignitem,$justifycontent) {
    display: $display;
    align-items: $alignitem;
    justify-content: $justifycontent;
}

/*----------ROOT----------*/ 

// Font-family
$main-font: 'Abhaya Libre', serif;
$second-font: 'Inter', sans-serif;
// Font-family

// Font-size
$big-font_size: 24px;
$normal-font_size: 20px;
$small-font_size: 16px;
$smallest-font_size: 14px;
// Font-size

// Color
$main-color-font: rgb(36, 36, 36);
$active-color-font: #C6322F;
$second-color-font: #A39D9D;
$background-color: #BBA59E;

/*----------ROOT----------*/ 

// Header/Start
.header {
    width: 100%;
    height: 60px;

    .header-container {
        width: 1200px;
        height: 100%;
        margin: 0 auto;

        &__menu {
            width: 100%;
            height: 100%;
            @include flex(flex,center,center);

            .logo {
                width: 20%;
                height: 100%;
                // background-color: blue;
                @include flex(flex,center,left);
                cursor: pointer;

                span {
                    font-family: $main-font;
                    font-size: 28px;
                    font-weight: 500;
                }
            }

            .sub-menu {
                width: 80%;
                height: 100%;
                // background-color: red;
                @include flex(flex,center,right);

                ul {
                    @include flex(flex,center,center);

                    li {
                        padding: 0 15px;

                        a {
                            font-size: $small-font_size;
                            font-family: $second-font;
                            color: $main-color-font;
                        }
                        a.home {color: $active-color-font;}

                        &:nth-child(6) {
                            position: relative;
                            padding-right: 5px;
                            padding-left: 0px;

                            input {
                                border: none;
                                outline: none;
                                padding: 8px 30px 10px 10px;
                                width: 0px;
                                opacity: 0;
                                visibility: hidden;
                                text-align: left;
                                transition: all .4s;
                                font-family: $second-font;
                            }

                            .active-search-icon {
                                width: 150px;
                                opacity: 1;
                                visibility: visible;
                                transition: all .4s;
                                background-color: #EBDCDC;
                            }

                            .search-icon {
                                position: absolute;
                                top: 8px;
                                right: 15px;
                                cursor: pointer;
                            }
                        }

                        &:nth-child(7) {padding: 0px 0px 0px 5px;}

                        &:last-child {padding: 0;}

                    }


                    li.bars-icon {
                        display: none;
                        padding-top: 3px;
                    }
                }

            }

        }

    }

}
.active-header-scroll {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
}
// Header/End

// Banner/Start
.banner {
    width: 100%;
    height: 600px;   
    margin: 30px 0 20px 0;
    // background-color: violet;

    .banner-container {
        width: 1200px;
        height: 100%;
        margin: auto;
        @include flex(flex,center,center);
        
        &__left {
            width: 50%;
            height: 100%;
            @include flex(flex,center,center);
            flex-direction: column;

            h1 {
                font-weight: 600;
                letter-spacing: 3px;
                font-family: $main-font;
                font-size: 55px;
                span {color: $active-color-font;}
            }
            
            p {
                font-family: $second-font;
                font-size: $small-font_size;
                letter-spacing: 1px;
                color: $second-color-font;
                text-align: justify;
                padding-right: 100px;
            }
        }
        
        &__right {
            width: 50%;
            height: 100%;
            
            .image {
                width: 100%;
                height: 100%;
                padding-top: calc(3 / 4 * 100%);
                background: #f4f4f4 no-repeat center 30%;
                background-size: cover;
                border-radius: 50%;
            } 
        }

    }

}
// Banner/End

// Categories/Start
.categories {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    border-top: 1px solid #E8DBDB;
    padding-top: 30px;
    padding-bottom: 30px;
    
    &__container {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template: auto / repeat(10, 1fr);
        grid-gap: 33px;

        .item {
            background-color: $background-color;
            position: relative;
            width: 90px;
            height: 90px;
            border-radius: 3px;
            img {
                max-width: 100%;
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &::before {
                content: "Uncategorized";
                bottom: -35%;
                left: 50%;
                position: absolute;
                transform: translate(-50%,-35%);
                font-family: $second-font;
                font-size: $small-font_size;
                color: $main-color-font;
            }
            &:nth-child(2)::before {content: "Biography";}
            &:nth-child(3)::before {content: "Children's";}
            &:nth-child(4)::before {content: "Mystery";}
            &:nth-child(5)::before {content: "Drama";}
            &:nth-child(6)::before {content: "History";}
            &:nth-child(7)::before {content: "Family";}
            &:nth-child(8)::before {content: "Cooking";}
            &:nth-child(9)::before {content: "Fiction";}
            &:nth-child(10)::before {content: "Politics";}
        }
    }

}
// Categories/End

// Product-new/Start 
.products-new {
    width: 100%;
    background-color: red;
}
// Product-new/End




// Overlay-menu/Start
.overlay-menu {
    width: 100%;
    height: 1060px;
    background-color: #000;
    opacity: .8;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    
    ul {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 2%;
        left: 5%; 

        li {
            padding: 10px 0;

            a {
                color: white;
                font-size: 26px;
                font-family: $main-font;
            }

            &:nth-child(5) {
                i {color: $background-color;}
                input {
                    border: none;
                    outline: none;
                    padding: 8px 10px 8px 5px;
                    background-color: #000;
                    color: white;
                    font-size: $normal-font_size;
                }
                &:hover i {
                    color: white;
                }
            }

        }

    }
    p {
        color: $background-color;
        font-size: 24px;
        position: absolute;
        right: 5%;
        top: 3%;
        &:hover {color: white;}
    }

}
.active-overlay {
    opacity: .9;
    visibility: visible;
}
// Overlay-menu/End