@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
// font-family: 'Abhaya Libre', serif;
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:wght@200;300;400;500&display=swap');
// font-family: 'Inter', sans-serif;
@mixin flex($display,$alignitem,$justifycontent) {
    display: $display;
    align-items: $alignitem;
    justify-content: $justifycontent;
}
$breakpoints: (
    "phone": "max-width:480px",
    "tablet-portrait": "max-width:768px",
    "tablet-lanscape": "max-width:992px",
    "laptop": "max-width:1200px",
);
@mixin breakpoint($user-value) {
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map {
        @media (#{$my-map}) {@content}
    } @else {
        @error "Breakpoints loi"
    } 
}

/*----------ROOT----------*/ 

// Font-family
$main-font: 'Abhaya Libre', serif;
$second-font: 'Inter', sans-serif;
// Font-family

// Font-size
$big-font_size: 24px;
$normal-font_size: 20px;
$small-font_size: 16px;
$smallest-font_size: 14px;
// Font-size

// Color
$main-color-font: rgb(36, 36, 36);
$active-color-font: #C6322F;
$second-color-font: #A39D9D;
$background-color: #BBA59E;

/*----------ROOT----------*/ 

// about/Start
.about {
    width: 100%;
    margin-top: 130px;
    margin-bottom: 50px;
    &__container {
        width: 1200px;
        margin: 0 auto;
        position: relative;

        .top {
            width: 100%;
            @include flex(flex,center,center);

            &__text {
                width: 50%;
                padding-right: 30px;

                h2 {
                    font-size: 54px;
                    font-family: $main-font;
                    color: $main-color-font;
                    span {color: $second-color-font;}
                    padding-bottom: 15px;
                    @include breakpoint(laptop) {font-size: 44px;}
                }

                p {
                    font-size: $small-font_size;
                    font-family: $second-font;
                    color: $main-color-font;
                    letter-spacing: 1px;
                }

            }

            &__img {
                width: 50%;
                height: 450px;
                background-color: yellow;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 17;
                }

            }

        }

        .bottom {
            width: 100%;
            @include flex(flex,center,center);

            &__text {
                width: 50%;
                padding-left: 30px;
                h2 {
                    font-size: 54px;
                    font-family: $main-font;
                    color: $main-color-font;
                    span {color: $second-color-font;}
                    padding-bottom: 15px;
                    text-align: right;
                    @include breakpoint(laptop) {font-size: 44px;}
                }

                p {
                    font-size: $small-font_size;
                    font-family: $second-font;
                    color: $main-color-font;
                    letter-spacing: 1px;
                    text-align: right;
                }
            }

            &__img {
                width: 50%;
                height: 450px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 17;
                }
            }

        }

        &::before,
        &::after {
            position: absolute;
            color: $main-color-font;
            font-family: $main-font;
            font-weight: 600;
        }
        &::before {
            content: "";
            top: -7%;
            left: 0;
            width: 28px;
            height: 2px;
            display: inline-block;
            background-color: $main-color-font;
        }
        &::after {
            content: "About Us";
            left: 3%;
            top: -75px;
            display: inline-block;
            color: $main-color-font;
            font-size: $big-font_size;
        }

    }
}
// about/End