@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
// font-family: 'Abhaya Libre', serif;
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:wght@200;300;400;500&display=swap');
// font-family: 'Inter', sans-serif;
@mixin flex($display,$alignitem,$justifycontent) {
    display: $display;
    align-items: $alignitem;
    justify-content: $justifycontent;
}
$breakpoints: (
    "phone": "max-width:480px",
    "tablet-portrait": "max-width:768px",
    "tablet-lanscape": "max-width:992px",
    "laptop": "max-width:1200px",
);
@mixin breakpoint($user-value) {
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map {
        @media (#{$my-map}) {@content}
    } @else {
        @error "Breakpoints loi"
    } 
}

/*----------ROOT----------*/ 

// Font-family
$main-font: 'Abhaya Libre', serif;
$second-font: 'Inter', sans-serif;
// Font-family

// Font-size
$big-font_size: 24px;
$normal-font_size: 20px;
$small-font_size: 16px;
$smallest-font_size: 14px;
// Font-size

// Color
$main-color-font: rgb(36, 36, 36);
$active-color-font: #C6322F;
$second-color-font: #A39D9D;
$background-color: #BBA59E;

/*----------ROOT----------*/ 


.contact {
    width: 100%;
    margin-top: 130px;
    margin-bottom: 50px;
    &__container {
        width: 1200px;
        margin: auto;
        position: relative;
        @include flex(flex,center,center);

        &::after,&::before {
            position: absolute;
            color: $main-color-font;
            font-family: $main-font;
            font-weight: 600;
        }
        &::after {
            content: "Contact Us";
            top: -72px;
            left: 3%;
            display: inline-block;
            color: $main-color-font;
            font-size: $big-font_size;
            @include breakpoint(tablet-portrait) {left: 0;padding-left: 10px;}
        }
        &::before {
            content: "";
            // top: -7%;
            top: -60px;
            left: 0;
            width: 28px;
            height: 2px;
            display: inline-block;
            background-color: $main-color-font;
            @include breakpoint(tablet-portrait) {display: none;} 
        }

        .form-contact {
            width: 45%;

            p {
                font-family: $second-font;
                color: $main-color-font;
                font-size: $small-font_size;
                padding-bottom: 20px;
                @include breakpoint(phone) {font-size: $smallest-font_size;}
            }

            .info {
                width: 100%;
                @include flex(flex,center,space-between);

                ul {
                    width: 49%;
                    padding-bottom: 30px;
                    li {
                        font-size: $small-font_size;
                        font-family: $second-font;
                        color: $main-color-font;
                        @include breakpoint(phone) {font-size: $smallest-font_size;}
                    }

                    &:last-child {
                        li i {padding-right: 10px;cursor: pointer;}
                    }
                }

            }

            .form1 {
                width: 100%;
                @include flex(flex,center,space-between);
                padding-bottom: 12px;
                input {
                    outline: none;
                    width: 49%;
                    padding: 8px 12px;
                    font-family: $main-font;
                    font-size: 20px;
                    border: 2px solid #A39D9D;
                    color: rgb(36, 36, 36);
                    border-radius: 3px;
                }
            }

            .form2 {
                width: 100%;
                overflow: hidden;
                textarea {
                    outline: none;
                    border: none;
                    width: 100%;
                    padding: 8px 12px;
                    font-size: $normal-font_size;
                    font-family: $main-font;
                    color: gray;
                    border: 2px solid #A39D9D;
                    border-radius: 3px;
                }

            }

        }

        .map-contact {
            width: 55%;
            padding-left: 20px;
            .map {
                width: 100%;
                object-fit: cover;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

    }
    
}