@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
// font-family: 'Abhaya Libre', serif;
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:wght@200;300;400;500&display=swap');
// font-family: 'Inter', sans-serif;
@mixin flex($display,$alignitem,$justifycontent) {
    display: $display;
    align-items: $alignitem;
    justify-content: $justifycontent;
}
$breakpoints: (
    "phone": "max-width:480px",
    "tablet-portrait": "max-width:768px",
    "tablet-lanscape": "max-width:992px",
    "laptop": "max-width:1200px",
);
@mixin breakpoint($user-value) {
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map {
        @media (#{$my-map}) {@content}
    } @else {
        @error "Breakpoints loi"
    } 
}

/*----------ROOT----------*/ 

// Font-family
$main-font: 'Abhaya Libre', serif;
$second-font: 'Inter', sans-serif;
// Font-family

// Font-size
$big-font_size: 24px;
$normal-font_size: 20px;
$small-font_size: 16px;
$smallest-font_size: 14px;
// Font-size

// Color
$main-color-font: rgb(36, 36, 36);
$active-color-font: #C6322F;
$second-color-font: #A39D9D;
$background-color: #BBA59E;

/*----------ROOT----------*/ 


// Booktype/Start
.book-type {
    width: 100%;
    height: 20px;
    padding: 30px 0;
    &__container {
        width: 1200px;
        height: 100%;
        margin: auto;
        ul {
            width: 100%;
            height: 100%;
            @include flex(flex,center,flex-start);
            li {
                font-size: $small-font_size;
                font-family: $second-font;
                a,i {color: $second-color-font;}
                i {font-size: 10px;}
                &:last-child a {color: $main-color-font;}
                &:nth-child(2),
                &:nth-child(4) {padding-bottom: 10px;}
                padding-right: 6px;
            }
        }
    }
}
// Booktype/End

// Productview/Start
.product-view {
    width: 100%;
    margin-bottom: 40px;
    &__container {
        width: 1200px;
        margin: auto;
        @include flex(flex,top,center);

        .view-media {
            width: 40%;
            height: 640px;
            .img-media {
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 3px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                img {width: 100%;height: 100%;object-fit: cover;}
            }
        }
        .view-detail {
            width: 60%;
            overflow: hidden;
            word-wrap: break-word;
            padding-left: 40px;
            .content-detail {
                h1 {
                    font-size: 48px;
                    font-family: $main-font;
                    padding-bottom: 25px;
                    @include breakpoint(phone) {font-size: 38px;}
                }

                p {
                    font-size: $small-font_size;
                    color: $main-color-font;
                    font-family: $second-font;
                    line-height: 20px;
                    letter-spacing: 1px;
                    span {color: $second-color-font;}
                    @include breakpoint(phone) {font-size:$smallest-font_size;}
                }

                p.description {padding-bottom: 20px;}
                p.category {padding-bottom: 20px;}
                p.price {
                    font-size: $big-font_size;
                    font-family: $main-font;
                    padding-bottom: 20px;
                    @include breakpoint(phone) {font-size: $normal-font_size;}
                }
                p.share {
                    font-size: $small-font_size;
                    font-family: $main-font;
                    color: $main-color-font; 
                    padding-bottom:5px;
                }

                form {
                    @include flex(flex,center,flex-start);
                    padding-bottom: 30px;

                    input {
                        border: none;
                        outline: none;
                        padding: 10px;
                        width: 60px;
                        height: 40px;
                        text-align: center;
                        font-size: $small-font_size;
                        background-color: $background-color;
                        border-radius: 3px;
                        color: #fff;
                        @include breakpoint(phone) {font-size: $smallest-font_size;}
                    }

                    .quantity {margin-right: 20px;}
                    
                    .addCart {
                        margin-right: 6px;
                        outline: none;
                        border: none;
                        height: 40px;
                        width: 150px;
                        line-height: 40px;
                        text-align: center;
                        font-size: $big-font_size;
                        font-family: $main-font;
                        border-radius: 3px;
                        color: #fff;
                        background-color: $background-color;
                        cursor:pointer;
                        @include breakpoint(phone) {font-size: $normal-font_size;}
                    }

                }

                ul.share-media {
                    @include flex(flex,center,flex-start);
                    li {
                        padding-right: 10px;
                        a {
                            color: $main-color-font;
                            font-family: $second-font;
                            font-size: $small-font_size;
                            @include breakpoint(phone) {font-size: $smallest-font_size;}
                        }
                    }
                }

            }
        }

    }
}
// Productview/End

// Information/Start
.information {
    width: 100%;
    margin-bottom: 100px;
    &__container {
        width: 1200px;
        margin: auto;

        ul {
            width: 100%;
            @include flex(flex,center,flex-start);
            margin-bottom: 15px;
            li {
                font-family: $main-font;
                color:$second-color-font;
                font-size: $big-font_size;
                padding-right: 15px;
                cursor: pointer;
                &:first-child {color: $main-color-font;}
            }
        }

        .tab-addInfo {
            width: 100%;
            // background-color: rgb(187, 171, 171);
            display: block;
            margin-bottom: 30px;
            table {
                width: 100%;
                border-collapse: collapse;
                td {
                    border-bottom: 1px solid #ebe8e8;
                    text-align: left;
                    font-size: $small-font_size;
                    font-family: $second-font;
                    color: $main-color-font;
                    padding: 10px 0;
                    &:first-child {width: 25%;}
                }
            }
        }

        .tab-revie {
            width: 100%;
            display: none;

            .comment {
                width: 100%;
                padding: 10px;
                padding-left: 0;
                span {color: $main-color-font;font-family: $second-font;}

                .comment-text {
                    width: 100%;
                    @include flex(flex,center,flex-start);

                    .avt {
                        width: 10%;
                        img {
                            width: 71px;
                            height: 71px;
                            object-fit: cover;
                            border-radius:50%;
                        }
                    }

                    .title {
                        width: 90%;

                        p {padding: 15px 0;}
                        p.name-revie {
                            color: $main-color-font;
                            font-size: $normal-font_size;
                            font-family: $second-font;
                        }
                        p.comment-revie {
                            color: $main-color-font;
                            font-size: $small-font_size;
                            font-family: $second-font;
                        }

                    }

                }

            }

            .reply-form {
                width: 100%;
                // background-color: purple;
                margin-top: 10px;

                h2 {
                    font-size: 38px;
                    font-family: $main-font;
                    color: $main-color-font;
                }

                p {
                    color: $main-color-font;
                    font-family: $main-font;
                    margin-bottom: 8px;
                }

                .rating {
                    li {
                        padding-right: 5px;
                        i {color: $second-color-font;font-size: $normal-font_size;}
                    }
                }

            }

            .form-mes {
                width: 100%;
                input {
                    width: 100%;
                    outline: none;
                    border: none;
                    font-family: $second-font;
                    font-size: $small-font_size;
                    border: 2px solid #A39D9D;
                    color: rgb(36, 36, 36);
                    border-radius: 3px;
                    padding: 8px 12px 80px 8px;
                }
            }

            .formNameMail {
                width: 100%;
                @include flex(flex,center,center);
                border: 2px solid #A39D9D;
                margin-top: 10px;
                border-radius: 3px;
                input {
                    width: 50%;
                    outline: none;
                    border: none;
                    font-family: $second-font;
                    font-size: $small-font_size;
                    color: rgb(36, 36, 36);
                    padding: 8px 12px;
                    &:last-child {border-left: 1px solid #A39D9D;}
                }
            }

            button {
                padding: 8px 12px;
                font-size: $small-font_size;
                color: #fff;
                border: none;
                outline: none;
                background-color: $background-color;
                margin-top: 10px;
                border-radius: 3px;
                cursor: pointer;
            }

        }

        .active-tab {display: block;}

    }
}
// Information/End

// productdetailpage/Start
section.productDetailPage {
    margin-bottom: 0;
    .products__container {
        position: relative;

        &::after,&::before {
            position: absolute;
            color: $main-color-font;
            font-family: $main-font;
            font-weight: 600;
        }

        &::after {
            content: "You also like";
            top: -72px;
            left: 3%;
            display: inline-block;
            color: $main-color-font;
            font-size: $big-font_size;
            @include breakpoint(tablet-portrait) {left: 0;padding-left: 10px;}
        }

        &::before {
            content: "";
            // top: -7%;
            top: -60px;
            left: 0;
            width: 28px;
            height: 2px;
            display: inline-block;
            background-color: $main-color-font;
            @include breakpoint(tablet-portrait) {display: none;} 
        }

    }
}
// productdetailpage/End