@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
// font-family: 'Abhaya Libre', serif;
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:wght@200;300;400;500&display=swap');
// font-family: 'Inter', sans-serif;
@mixin flex($display,$alignitem,$justifycontent) {
    display: $display;
    align-items: $alignitem;
    justify-content: $justifycontent;
}
$breakpoints: (
    "phone": "max-width:480px",
    "tablet-portrait": "max-width:768px",
    "tablet-lanscape": "max-width:992px",
    "laptop": "max-width:1200px",
);
@mixin breakpoint($user-value) {
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map {
        @media (#{$my-map}) {@content}
    } @else {
        @error "Breakpoints loi"
    } 
}

/*----------ROOT----------*/ 

// Font-family
$main-font: 'Abhaya Libre', serif;
$second-font: 'Inter', sans-serif;
// Font-family

// Font-size
$big-font_size: 24px;
$normal-font_size: 20px;
$small-font_size: 16px;
$smallest-font_size: 14px;
// Font-size

// Color
$main-color-font: rgb(36, 36, 36);
$active-color-font: #C6322F;
$second-color-font: #A39D9D;
$background-color: #BBA59E;

/*----------ROOT----------*/ 


// eventsproduct/Start
.eventsProduct {
    width: 100%;
    margin-top: 130px;
    &__container {
        width: 1200px;
        margin: auto;
        position: relative;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        @include breakpoint(tablet-lanscape) {grid-template-columns: 1fr 1fr;}
        @include breakpoint(tablet-portrait) {grid-template-columns: 1fr;}

        .cardEvents {
            background-color: rgb(74, 45, 45);

            img {
                width: 100%;
                height: 289.50px;
                object-fit: cover;
                @include breakpoint(laptop) {height: 237.75px;}
                @include breakpoint(tablet-lanscape) {height: 280.50px;}
                @include breakpoint(tablet-portrait) {height: 557.25px;}
                @include breakpoint(tablet-phone) {height: 339px;}
            }

            .title {
                width: 100%;
                height: 30%;
                overflow: hidden;
                padding: 15px;
                h2 {
                    font-size: $normal-font_size;
                    font-family: $main-font;
                    color:$main-color-font;
                    text-align: left;
                    padding-bottom: 5px;
                }
                p {
                    font-size: $small-font_size;
                    color:$second-color-font;
                    font-family: $second-font;
                    text-align:left;
                    padding-bottom: 10px;
                }
            }

        }

    }
}
// eventsproduct/End