@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:wght@200;300;400;500&display=swap");
@media screen and (max-width: 1200px) {
  header.header .header-container {
    width: 992px;
  }
  section.banner {
    height: 600px;
    margin: 0 0 20px 0;
  }
  section.banner .banner-container {
    width: 992px;
  }
  section.banner .banner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.banner .banner-container .banner-container__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    height: 35%;
    overflow: hidden;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 15px;
  }
  section.banner .banner-container .banner-container__left h1 {
    font-size: 45px;
  }
  section.banner .banner-container .banner-container__left h1 br {
    display: none;
  }
  section.banner .banner-container .banner-container__right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    height: 65%;
    overflow: hidden;
  }
  section.banner .banner-container .banner-container__right .image {
    border-radius: 0;
  }
  section.categories {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  section.categories .categories__container {
    width: 992px;
    overflow: auto;
    padding: 30px 0;
  }
  section.products .products__container {
    width: 992px;
  }
  section.products .products__container::after {
    left: 4%;
  }
  section.events .events__container {
    width: 992px;
  }
}
@media screen and (max-width: 992px) {
  header.header .header-container {
    width: 768px;
  }
  header.header .header-container .header-container__menu .sub-menu ul li:nth-child(-n+6) {
    display: none;
  }
  header.header .header-container .header-container__menu .sub-menu ul li:nth-child(8) {
    display: block;
    padding-left: 10px;
  }
  section.banner .banner-container {
    width: 768px;
  }
  section.categories .categories__container {
    width: 768px;
  }
  section.products .products__container {
    width: 768px;
  }
  section.products .products__container::after {
    left: 5%;
  }
  section.events .events__container {
    width: 768px;
  }
  div.overlay-menu ul {
    top: 4%;
  }
  div.overlay-menu p {
    top: 5%;
  }
}
@media screen and (max-width: 768px) {
  header.header .header-container {
    width: 100%;
    padding: 0 10px;
  }
  header.header .header-container .header-container__menu .logo {
    width: 70%;
  }
  header.header .header-container .header-container__menu .sub-menu {
    width: 30%;
  }
  section.banner .banner-container {
    width: 100%;
    padding: 0 10px;
  }
  section.categories .categories__container {
    width: 100%;
    padding: 30px 10px;
    grid-gap: 20px;
  }
  section.categories .categories__container .item {
    width: 100px;
    height: 100px;
  }
  section.products .products__container {
    width: 100%;
    padding: 0 10px;
  }
  section.products .products__container::before {
    display: none;
  }
  section.products .products__container::after {
    left: 10px;
  }
  section.events .events__container {
    width: 100%;
    padding: 0 10px;
  }
  div.overlay-menu ul {
    top: 1%;
  }
  div.overlay-menu p {
    top: 2%;
  }
}
@media screen and (max-width: 500px) {
  section.banner {
    height: 470px;
  }
  section.banner .banner-container .banner-container__left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 15px;
  }
  section.banner .banner-container .banner-container__left h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  section.banner .banner-container .banner-container__left p {
    padding-right: 0;
    font-size: 14px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 480px) {
  section.banner .banner-container .banner-container__left {
    height: 40%;
  }
  section.banner .banner-container .banner-container__right {
    height: 60%;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
select,
button {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*----------ROOT----------*/
/*----------ROOT----------*/
.header {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header .header-container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.header .header-container__menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .header-container__menu .logo {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  cursor: pointer;
}
.header .header-container__menu .logo span {
  font-family: "Abhaya Libre", serif;
  font-size: 28px;
  font-weight: 500;
}
.header .header-container__menu .sub-menu {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.header .header-container__menu .sub-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .header-container__menu .sub-menu ul li {
  padding: 0 15px;
}
.header .header-container__menu .sub-menu ul li a {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: rgb(36, 36, 36);
}
.header .header-container__menu .sub-menu ul li a.home {
  color: #C6322F;
}
.header .header-container__menu .sub-menu ul li:nth-child(6) {
  position: relative;
  padding-right: 5px;
  padding-left: 0px;
}
.header .header-container__menu .sub-menu ul li:nth-child(6) input {
  border: none;
  outline: none;
  padding: 8px 30px 10px 10px;
  width: 0px;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-family: "Inter", sans-serif;
}
.header .header-container__menu .sub-menu ul li:nth-child(6) .active-search-icon {
  width: 150px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #EBDCDC;
}
.header .header-container__menu .sub-menu ul li:nth-child(6) .search-icon {
  position: absolute;
  top: 8px;
  right: 15px;
  cursor: pointer;
}
.header .header-container__menu .sub-menu ul li:nth-child(7) {
  padding: 0px 0px 0px 5px;
}
.header .header-container__menu .sub-menu ul li:last-child {
  padding: 0;
}
.header .header-container__menu .sub-menu ul li.bars-icon {
  display: none;
  padding-top: 3px;
}

.active-header-scroll {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 20;
}

.banner {
  width: 100%;
  height: 600px;
  margin: 30px 0 20px 0;
}
.banner .banner-container {
  width: 1200px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner .banner-container__left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.banner .banner-container__left h1 {
  font-weight: 600;
  letter-spacing: 3px;
  font-family: "Abhaya Libre", serif;
  font-size: 55px;
}
.banner .banner-container__left h1 span {
  color: #C6322F;
}
.banner .banner-container__left p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: #A39D9D;
  text-align: justify;
  padding-right: 100px;
}
.banner .banner-container__right {
  width: 50%;
  height: 100%;
}
.banner .banner-container__right .image {
  width: 100%;
  height: 100%;
  padding-top: 75%;
  background: #f4f4f4 no-repeat center 30%;
  background-size: cover;
  border-radius: 50%;
}

.categories {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  border-top: 1px solid #E8DBDB;
  padding-top: 30px;
  padding-bottom: 30px;
}
.categories__container {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template: auto/repeat(10, 1fr);
  grid-gap: 33px;
}
.categories__container .item {
  background-color: #BBA59E;
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 3px;
}
.categories__container .item img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.categories__container .item::before {
  content: "Uncategorized";
  bottom: -35%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: rgb(36, 36, 36);
}
.categories__container .item:nth-child(2)::before {
  content: "Biography";
}
.categories__container .item:nth-child(3)::before {
  content: "Children's";
}
.categories__container .item:nth-child(4)::before {
  content: "Mystery";
}
.categories__container .item:nth-child(5)::before {
  content: "Drama";
}
.categories__container .item:nth-child(6)::before {
  content: "History";
}
.categories__container .item:nth-child(7)::before {
  content: "Family";
}
.categories__container .item:nth-child(8)::before {
  content: "Cooking";
}
.categories__container .item:nth-child(9)::before {
  content: "Fiction";
}
.categories__container .item:nth-child(10)::before {
  content: "Politics";
}

.products {
  width: 100%;
  height: 437px;
  margin-bottom: 40px;
  margin-top: 150px;
}
.products__container {
  width: 1200px;
  height: 100%;
  margin: auto;
  position: relative;
}
.products__container a {
  color: rgb(36, 36, 36);
}
.products__container .card {
  width: 100%;
  height: 100%;
}
.products__container .card .img-item {
  width: 100%;
  height: 324px;
}
.products__container .card .img-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products__container .card .title-item {
  width: 100%;
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.products__container .card .title-item .name {
  font-size: 24px;
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.products__container .card .title-item .price,
.products__container .card .title-item .author {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #A39D9D;
}
.products__container .card .title-item .name, .products__container .card .title-item .price, .products__container .card .title-item .author {
  padding-top: 5px;
}
.products__container .owl-nav button.owl-prev,
.products__container .owl-nav button.owl-next {
  width: 30px;
  height: 30px;
  background-color: #BBA59E;
  font-family: "Inter", sans-serif;
}
.products__container .owl-nav button.owl-prev span,
.products__container .owl-nav button.owl-next span {
  font-size: 24px;
  color: #fff;
}
.products__container .owl-nav button.owl-prev {
  position: absolute;
  top: 35%;
  left: 0;
}
.products__container .owl-nav button.owl-next {
  position: absolute;
  top: 35%;
  right: 0;
}
.products__container::before, .products__container::after {
  position: absolute;
  color: rgb(36, 36, 36);
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
}
.products__container::before {
  content: "";
  top: -7%;
  left: 0;
  width: 28px;
  height: 2px;
  display: inline-block;
  background-color: rgb(36, 36, 36);
}
.products__container::after {
  content: "New book from Vintage";
  left: 3%;
  top: -43px;
  display: inline-block;
  color: rgb(36, 36, 36);
  font-size: 24px;
}

.products-new .products__container::before {
  height: 2.5px;
}

.products-bestselling {
  margin-top: 80px;
}
.products-bestselling .products__container::after {
  content: "Bestselling from Vintage";
}
.products-bestselling .products__container::before {
  height: 2px;
}

.products-sale {
  margin-top: 80px;
}
.products-sale .products__container::after {
  content: "Sale from Vintage";
}
.products-sale .products__container::before {
  height: 2px;
}

.events {
  width: 100%;
  margin-top: 80px;
}
.events__container {
  width: 1200px;
  height: 100%;
  margin: auto;
  position: relative;
}
.events__container .card-events {
  width: 100%;
  height: 100%;
}
.events__container .card-events .img-item {
  width: 100%;
  height: 450px;
}
.events__container .card-events .img-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.events__container .card-events .content-item {
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.events__container .card-events .content-item h2 {
  font-size: 24px;
  font-family: "Abhaya Libre", serif;
  color: rgb(36, 36, 36);
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 33.333%;
  display: inline-block;
}
.events__container .card-events .content-item p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #A39D9D;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: 55.333%;
  display: inline-block;
}
.events__container .card-events .content-item a {
  width: 100%;
  height: 13.334%;
  display: inline-block;
}
.events__container .card-events .content-item a button {
  border: none;
  outline: none;
  font-size: 16px;
  color: rgb(36, 36, 36);
  background-color: #fff;
  cursor: pointer;
}
.events__container .owl-nav button.owl-prev,
.events__container .owl-nav button.owl-next {
  width: 30px;
  height: 30px;
  background-color: #BBA59E;
  font-family: "Inter", sans-serif;
}
.events__container .owl-nav button.owl-prev span,
.events__container .owl-nav button.owl-next span {
  font-size: 24px;
  color: #fff;
}
.events__container .owl-nav button.owl-prev {
  position: absolute;
  top: 35%;
  left: 0;
}
.events__container .owl-nav button.owl-next {
  position: absolute;
  top: 35%;
  right: 0;
}

.overlay-menu {
  width: 100%;
  height: 1060px;
  background-color: #000;
  opacity: 0.8;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
.overlay-menu ul {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 6%;
  left: 5%;
}
.overlay-menu ul li {
  padding: 10px 0;
}
.overlay-menu ul li a {
  color: white;
  font-size: 26px;
  font-family: "Abhaya Libre", serif;
}
.overlay-menu ul li:nth-child(5) i {
  color: #BBA59E;
}
.overlay-menu ul li:nth-child(5) input {
  border: none;
  outline: none;
  padding: 8px 10px 8px 5px;
  background-color: #000;
  color: white;
  font-size: 20px;
}
.overlay-menu ul li:nth-child(5):hover i {
  color: white;
}
.overlay-menu p {
  color: #BBA59E;
  font-size: 24px;
  position: absolute;
  right: 5%;
  top: 7%;
}
.overlay-menu p:hover {
  color: white;
}

.active-overlay {
  opacity: 0.9;
  visibility: visible;
  z-index: 30;
}